body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(229, 229, 229);
}

.container1 {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  z-index: 999;
  background-image: url(/static/images/homepage3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.header {
  width: 76%;
  text-align: center;
  margin: 200px auto 0;
}

#header {
  width: 100%;
  height: 300px;
  position: relative;
}

#header p {
  color: #525288;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  align-items: center;
}

#header span {
  color: #15559a;
  font-size: 14px;
  font-weight: 500;
}

.nav {
  font-weight: 300;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 70%;
  display: flex;
  text-align: center;
  cursor: default;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  margin: 0px auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-image: initial;
  border-radius: 3px;
  margin-top: 10px;
}

svg {
  width: 16px;
  height: 16px;
}

* a {
  align-items: center;
  text-decoration: none;
  color: #93b5cf;
}

* a:hover {
  color: #126bae;
}

.headerImg {
  width: 128px;
  height: 128px;
}

.headerImg img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .container1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    opacity: 1;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 1s;
  }
  .container1 ul {
    width: 70%;
    display: flex;
    text-align: center;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    margin: 0px auto;
    border-width: 1px;
    border-style: solid;
    border-color: #fffef8;
    border-image: initial;
    border-radius: 3px;
    margin-top: 10px;
  }
  .container1 ul li {
    width: 25%;
    font-size: 14px;
    line-height: 1.75;
    border-right: 1px solid #fffef8;
  }
  .container1 ul li a {
    font-weight: 300;
    color: #fffef8;
  }
  .header {
    width: 100%;
    margin-top: 200px;
  }
  .header p {
    margin: 10px 0;
  }
}
